<section id="login">
  <header>
    <h1>Welcome!</h1>
    <p>Create an account to continue</p>
  </header>

  <form>
    <div class="div">
      <input type="text" placeholder="Username" id="username" name="username" [(ngModel)]="user">
      <div class="icon-input">
        <img src="assets/img/user-icon-input.svg" alt="">
      </div>
    </div>
    <div class="div">
      <input type="email" placeholder="E-mail" id="email" name="email" [(ngModel)]="email">
      <div class="icon-input">
        <img src="assets/img/user-icon-input.svg" alt="">
      </div>
    </div>
    <div class="div">
      <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="password">
      <div class="icon-input">
        <img src="assets/img/password-icon-input.svg" alt="">
      </div>
    </div>
    <div class="buttons">
      <button class="login" [routerLink]="['/']">Login</button>
      <button class="signup" (click)="cadastrar()" routerLinkActive="botao">Join</button>
    </div>
  </form>
</section>

