<div class="send-container">
  <div class="user-card">

    <div class="header">
      <div class="details">
        <img src="https://www.lance.com.br/files/article_main/uploads/2021/02/28/603bdef934423.jpeg" width="60" alt="">
        <div>
          <h2>Username</h2>
        </div>
      </div>
      <div class="details2">
        <img src="/assets/img/edit.svg" alt="" width="60" alt="">
        <div>
          <img src="/assets/img/delete.svg" alt="" width="60">
        </div>
      </div>
    </div>

    <form class="form-input">
      <div>
        <label for="" class="sr-only"></label>
        <input type="text" placeholder="Pontos a melhorar">
      </div>
      <div>
        <label for="" class="sr-only"></label>
        <input type="text" placeholder="Pontos a manter">
      </div>
      <div>
        <label for="" class="sr-only"></label>
        <input type="text" placeholder="Sugestões">
      </div>
      <div class="last">
        <label for="" class="sr-only"></label>
        <input type="text" placeholder="Feedback final">
      </div>
    </form>
  </div>
</div>
