<section id="side-bar">

  <div class="user-bg">
    <img src="/assets/img/user-logo.svg" alt="" width="90">
    <p class="username">{{ user.data.nome }}</p>
    <small class="edit-prolfile">
      <img src="" alt="">
      editar prolfil
    </small>
  </div>

  <nav class="navbar">
    <div class="botao" [routerLink]="['dashboard']" routerLinkActive="actived">
      <img class="img" src="/assets/img/home-icon.svg" width="30" alt="">
      <h3>HOME</h3>
    </div>
    <div class="botao" [routerLink]="['feedbacks']" routerLinkActive="actived">
      <img class="img" src="/assets/img/feed.svg" width="30" alt="">
      <h3>FEED</h3>
    </div>
    <div class="botao" [routerLink]="['send']" routerLinkActive="actived">
      <img class="img" src="/assets/img/send.svg" width="30" alt="">
      <h3>SEND</h3>
    </div>

    <div class="logout" [routerLink]="['/']" (click)="logOut()">
      <a>
        logout
        <img src="/assets/img/logout.svg" width="20"alt="">
      </a>
    </div>
  </nav>

</section>
