* {
  margin: 0;
  padding: 0;
}

.another-nav {
  background-color: var(--red);
  padding:1.2rem 2.3rem;
  color: var(--white);
  .img {
    margin-right: 1rem;
  }
  .home {
    height:80px
  }
}

.col-md-10 {
  padding-bottom: 10rem;
}

