/* You can add global styles to this file, and also import other style files */

:root{
  --red: #F60707;
  --gray-text: #707070;
  --white: #ffffff;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins",Helvetica,
}
